<div class="row">

  <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing ">
    <app-tabs></app-tabs>
  </div>

  <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing ">
    <app-consola></app-consola>
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing ">
    <mat-tab-group class="bg-dark" dynamicHeight="true" mat-stretch-tabs
      style="height: calc(100vh - 36.5px); max-width: calc(100vw - 36.5px);">
      <mat-tab label="AST">
        <ng-template matTabContent>
          <app-ast></app-ast>
        </ng-template>
      </mat-tab>

      <mat-tab label="ERRORES">
        <ng-template matTabContent>
          <app-errores></app-errores>
        </ng-template>
      </mat-tab>

      <mat-tab label="TABLA DE SIMBOLOS">
        <ng-template matTabContent>
          <app-simbolos></app-simbolos>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
